/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: #0e0c0c;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #ddd;
}

a {
  transition: 0.4s;
  text-decoration: none;
}
a:hover {
  color: #37a1f7;
}

/* Header */
#navbar {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #ddd;
}

#navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#navbar-links {
  display: flex;
  gap: 1rem;
}

#navbar-links .sign {
  background-color: #2674b4;
  padding: 0.4rem;
  border-radius: 3px;
}

#navbar-links .sign:hover {
  background-color: #fff;
  padding: 0.6rem;
  color: #2674b4;
}

/* Conteiner */

.conteiner {
  display: flex;
  gap: 3rem;
  padding: 2rem 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

#posts-conteiner{
    flex: 3 1 0;
}

.post {
  margin-bottom: 2.5rem;
}

.post img {
  width: 100%;
  margin-bottom: 1rem;
}

.title,
.description,
.author {
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
}

.author {
  font-weight: bold;
}

/* Contúdo lateral */

#sidebar {
  flex: 1 1 0;
}

#search-bar,
#categories,
#tags{
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#search-bar h4,
#categories h4,
#tags h4{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form{
    display: flex;
}

#search-bar input{
    padding: 0.5rem  1rem;
    border: 1px solid #ddd;
    border-radius: 2px; 
    margin-left: 4px;
}

#search-bar input[type="submit"]{
    background-color: #2674b4;
    color: #ddd;
    cursor :pointer;
    font-weight: bold;
    border: none;
}

#search-bar input[type="submit"]:hover{
    background-color: #fff;
    color:#2674b4;
}

#categories li{
    margin: 1rem;
}

#tags-conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-conteiner a{
    background-color: #2674b4;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
}


/* Footer */
footer{
  border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

footer h2, 
footer p{
    margin-bottom: 1rem;
}

/* Responsivo */
@media(max-width: 800px){
  .conteiner{
    flex-wrap: wrap;
      flex-direction: column;
  }
}

@media(max-width:500px){
  #navbar {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    gap: 10px;
    
  }  
  #navbar-links{
    display: none;

  }
}

